.header-right{
    float: right;
    margin-top: 11.1px;
    margin-right: 15px;
    margin-bottom: 11.1px;
    padding: 0 0;
}


.terms{
    width: 80%;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}

.terms-logo{
    margin-top: 80px;
    border-bottom: gray solid 1px;
    padding-bottom: 7px;
}

footer{
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    background-color: rgb(47, 99, 177);
    
}

.footer-text{
    height: inherit;
    inline-size: 100%;
}